# Import libaries

In [1]:
import pandas as pd
import numpy as np

# Get differnt sheet to differnt sheets

In [2]:
df1 = pd.read_excel('C:\\Users\\ASUS\\Downloads\\dataset.xlsx', sheet_name = '1br flat', header=[1,2], index_col=[0, 1])
df2 = pd.read_excel('C:\\Users\\ASUS\\Downloads\\dataset.xlsx', sheet_name = '2br Flat', header=[1,2], index_col=[0, 1])
df3 = pd.read_excel('C:\\Users\\ASUS\\Downloads\\dataset.xlsx', sheet_name = '3br Flat', header=[1,2], index_col=[0, 1])
df4 = pd.read_excel('C:\\Users\\ASUS\\Downloads\\dataset.xlsx', sheet_name = '2br House', header=[1,2], index_col=[0, 1])
df5 = pd.read_excel('C:\\Users\\ASUS\\Downloads\\dataset.xlsx', sheet_name = '3br House', header=[1,2], index_col=[0, 1])
df6 = pd.read_excel('C:\\Users\\ASUS\\Downloads\\dataset.xlsx', sheet_name = '4br House', header=[1,2], index_col=[0, 1])
df7 = pd.read_excel('C:\\Users\\ASUS\\Downloads\\dataset.xlsx', sheet_name ='All Properties', header=[1,2], index_col=[0, 1])

# Create DF from all small DF

In [3]:
frames = [df1,df2,df3,df4,df4,df5,df6]
dfn = pd.concat(frames, keys=['1br flat',
 '2br Flat',
 '3br Flat',
 '2br House',
 '3br House',
 '4br House',
 'All Properties'])

dfn

                                                 Jun 1999        Sep 1999  \
LGA                                                 Count Median    Count
1br flat       Barwon South West Colac-Otway            6     68        6
                                 Corangamite            -      -        5
                                 Glenelg                7     65        -
                                 Greater Geelong      202     80      205
                                 Moyne                  -      -        -
...                                                   ...    ...      ...
All Properties Table Total       Victoria            1963    210     2056
                                 Victoria             NaN    NaN      NaN
               METRO NON-METRO   Metro               1326    235     1422
                                 Non-Metro            637    160      634
                                 Victoria            1963    210     2056

                                                        Dec 1999         \
LGA                                              Median    Count Median
1br flat       Barwon South West Colac-Otway         75        7     80
                                 Corangamite         60        -      -
                                 Glenelg              -       13     70
                                 Greater Geelong     80      200     80
                                 Moyne                -        -      -
...                                                 ...      ...    ...
All Properties Table Total       Victoria           215     2087    220
                                 Victoria           NaN      NaN    NaN
               METRO NON-METRO   Metro              240     1443    250
                                 Non-Metro          160      644    165
                                 Victoria           215     2087    220

                                                 Mar 2000        Jun 2000  \
LGA                                                 Count Median    Count
1br flat       Barwon South West Colac-Otway            6     80       12
                                 Corangamite            -      -        -
                                 Glenelg                8     80        9
                                 Greater Geelong      255     85      185
                                 Moyne                  -      -        -
...                                                   ...    ...      ...
All Properties Table Total       Victoria            2471    225     1896
                                 Victoria             NaN    NaN      NaN
               METRO NON-METRO   Metro               1693    260     1336
                                 Non-Metro            778    170      560
                                 Victoria            2471    225     1896

                                                         ... Jun 2020         \
LGA                                              Median  ...    Count Median
1br flat       Barwon South West Colac-Otway         75  ...        9    230
                                 Corangamite          -  ...        2    195
                                 Glenelg             74  ...        9    200
                                 Greater Geelong     85  ...      136    252
                                 Moyne                -  ...        -      -
...                                                 ...  ...      ...    ...
All Properties Table Total       Victoria           225  ...     7732    420
                                 Victoria           NaN  ...      NaN    NaN
               METRO NON-METRO   Metro              250  ...     5693    430
                                 Non-Metro          165  ...     2039    400
                                 Victoria           225  ...     7732    420

                                                 Sep 2020        Dec 2020  \
LGA                                                 Count Median    Count
1br flat       Barwon South West Colac-Otway            4    225       10
                                 Corangamite            3    225        3
                                 Glenelg                4    175        6
                                 Greater Geelong      140    250      144
                                 Moyne                  -      -        -
...                                                   ...    ...      ...
All Properties Table Total       Victoria            7663    425     7948
                                 Victoria             NaN    NaN      NaN
               METRO NON-METRO   Metro               5503    437     5977
                                 Non-Metro           2160    410     1971
                                 Victoria            7663    425     7948

                                                        Mar 2021         \
LGA                                              Median    Count Median
1br flat       Barwon South West Colac-Otway        223        9    230
                                 Corangamite        225        0      .
                                 Glenelg            180        3    350
                                 Greater Geelong    250      156    265
                                 Moyne                -        -      -
...                                                 ...      ...    ...
All Properties Table Total       Victoria           430     8542    450
                                 Victoria           NaN      NaN    NaN
               METRO NON-METRO   Metro              440     6520    450
                                 Non-Metro          425     2022    440
                                 Victoria           430     8542    450

                                                 Jun 2021
LGA                                                 Count Median
1br flat       Barwon South West Colac-Otway           11    230
                                 Corangamite            0      .
                                 Glenelg                8    235
                                 Greater Geelong      102    250
                                 Moyne                  -      -
...                                                   ...    ...
All Properties Table Total       Victoria            7296    450
                                 Victoria             NaN    NaN
               METRO NON-METRO   Metro               5455    450
                                 Non-Metro           1841    440
                                 Victoria            7296    450

[644 rows x 178 columns]

# Replase differnt signs to common NaN

In [4]:
dfn0=dfn.replace('-', np.NaN)
dfn1=dfn0.replace('.',np.NaN)

In [5]:
dfn1.shape

(644, 178)

# Get Transpose of that DF

In [6]:
dfh=dfn1.transpose()
dfh

                         1br flat                                            \
                Barwon South West
                      Colac-Otway Corangamite Glenelg Greater Geelong Moyne
         LGA
Jun 1999 Count                6.0         NaN     7.0           202.0   NaN
         Median              68.0         NaN    65.0            80.0   NaN
Sep 1999 Count                6.0         5.0     NaN           205.0   NaN
         Median              75.0        60.0     NaN            80.0   NaN
Dec 1999 Count                7.0         NaN    13.0           200.0   NaN
...                           ...         ...     ...             ...   ...
Dec 2020 Median             223.0       225.0   180.0           250.0   NaN
Mar 2021 Count                9.0         0.0     3.0           156.0   NaN
         Median             230.0         NaN   350.0           265.0   NaN
Jun 2021 Count               11.0         0.0     8.0           102.0   NaN
         Median             230.0         NaN   235.0           250.0   NaN

                                                                        \

                Queenscliffe Southern Grampians Surf Coast Warrnambool
         LGA
Jun 1999 Count           NaN                9.0        9.0        28.0
         Median          NaN               65.0      100.0        75.0
Sep 1999 Count           NaN               10.0        9.0        22.0
         Median          NaN               68.0       92.0        75.0
Dec 1999 Count           NaN                7.0       10.0        28.0
...                      ...                ...        ...         ...
Dec 2020 Median          NaN              180.0        NaN       260.0
Mar 2021 Count           NaN                4.0        NaN        11.0
         Median          NaN              170.0        NaN       270.0
Jun 2021 Count           NaN                7.0        NaN        14.0
         Median          NaN              190.0        NaN       195.0

                             ... All Properties                     \
                             ... Southern Metro
                Group Total  ...       Kingston Mornington Penin'a
         LGA                 ...
Jun 1999 Count        264.0  ...           52.0               72.0
         Median        80.0  ...          245.0              210.0
Sep 1999 Count        261.0  ...           57.0               82.0
         Median        80.0  ...          235.0              213.0
Dec 1999 Count        269.0  ...           54.0               81.0
...                     ...  ...            ...                ...
Dec 2020 Median       250.0  ...          640.0              580.0
Mar 2021 Count        194.0  ...          139.0              125.0
         Median       265.0  ...          620.0              620.0
Jun 2021 Count        152.0  ...           97.0              132.0
         Median       250.0  ...          660.0              673.0

                                                                           \
                                                     Table Total
                Port Phillip Stonnington Group Total    Victoria Victoria
         LGA
Jun 1999 Count           9.0        31.0       426.0      1963.0      NaN
         Median        620.0       460.0       230.0       210.0      NaN
Sep 1999 Count          22.0        35.0       492.0      2056.0      NaN
         Median        450.0       450.0       230.0       215.0      NaN
Dec 1999 Count          21.0        34.0       468.0      2087.0      NaN
...                      ...         ...         ...         ...      ...
Dec 2020 Median       1100.0      1050.0       453.0       430.0      NaN
Mar 2021 Count          27.0        61.0      1709.0      8542.0      NaN
         Median       1050.0       900.0       480.0       450.0      NaN
Jun 2021 Count          26.0        41.0      1489.0      7296.0      NaN
         Median       1038.0       930.0       475.0       450.0      NaN


                METRO NON-METRO
                          Metro Non-Metro Victoria
         LGA
Jun 1999 Count           1326.0     637.0   1963.0
         Median           235.0     160.0    210.0
Sep 1999 Count           1422.0     634.0   2056.0
         Median           240.0     160.0    215.0
Dec 1999 Count           1443.0     644.0   2087.0
...                         ...       ...      ...
Dec 2020 Median           440.0     425.0    430.0
Mar 2021 Count           6520.0    2022.0   8542.0
         Median           450.0     440.0    450.0
Jun 2021 Count           5455.0    1841.0   7296.0
         Median           450.0     440.0    450.0

[178 rows x 644 columns]

In [7]:
dfh.shape

(178, 644)

In [8]:
dfh.isnull().all().sum()

36

# Missing value within colomns after transpose dataframe

No of colomns include missing values

In [9]:
dfh.isnull().any().sum()

206

# No of Missing value cells in Dataset

In [10]:
dfh.isnull().sum().sum()

18511

In [11]:
df=dfn1.dropna(how='all')
df.isnull().all(axis=1).sum()
dfh=df.transpose()

In [12]:
dfh.isnull().all(axis=1).sum()

0

In [13]:
dfh.isnull().all().sum()

0

No of colomns has missing value after drop some

In [14]:
dfh.isnull().any().sum()

170

No of cell that has missing vaues after droppng

In [15]:
dfh.isnull().sum().sum()

12103

# Check presentage of missing value within colomns

In [16]:
dfh.isnull().sum().values/len(dfh)*100

array([ 2.24719101, 78.08988764, 14.60674157,  0.        ,  4.49438202,
       30.33707865,  0.        ,  0.        , 68.53932584,  0.        ,
       83.14606742, 89.88764045,  4.49438202, 37.07865169, 33.70786517,
       83.14606742,  0.        , 97.75280899,  4.49438202, 69.66292135,
       91.01123596,  0.        , 24.15730337,  0.        , 87.64044944,
        0.        ,  0.        , 78.65168539, 19.1011236 ,  0.        ,
       86.51685393, 38.20224719,  0.        , 63.48314607, 97.75280899,
        2.24719101,  0.        ,  0.        , 65.16853933, 17.97752809,
        0.        ,  0.        , 21.34831461,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        , 41.57303371,  0.        ,  0.        ,
       37.07865169, 15.73033708, 11.23595506,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        , 60.11235955,
        4.49438202,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        , 14.60674157,
        0.        ,  0.        , 41.57303371, 85.39325843,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
       89.88764045, 33.70786517,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  1.12359551, 23.59550562,  0.        ,
        0.        ,  0.        ,  2.24719101,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  4.49438202, 11.23595506,
        0.        ,  0.        ,  8.98876404, 16.85393258,  0.        ,
        0.        ,  0.        ,  1.12359551,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        , 49.43820225, 96.62921348, 82.02247191,
        0.        , 97.75280899, 97.75280899,  2.24719101,  1.12359551,
        0.        , 95.50561798,  0.        , 98.87640449, 28.08988764,
       50.56179775, 98.87640449,  0.        , 11.23595506, 97.75280899,
        0.        , 29.21348315,  0.        , 65.73033708,  0.        ,
       87.64044944, 85.39325843,  0.        , 96.62921348, 89.88764045,
       16.85393258, 13.48314607, 98.87640449, 44.94382022,  0.        ,
        0.        , 20.2247191 , 24.71910112,  5.61797753,  1.12359551,
       78.65168539,  2.24719101,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  1.12359551,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  5.61797753,  0.        ,  0.        ,
        2.24719101, 93.25842697,  6.74157303,  0.        ,  0.        ,
        0.        , 14.60674157,  0.        , 85.39325843,  0.        ,
       69.1011236 ,  0.        , 13.48314607,  1.12359551, 88.76404494,
       98.87640449, 74.15730337,  0.        , 95.50561798,  0.        ,
       19.1011236 , 10.11235955,  0.        , 93.25842697,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  1.12359551,
        2.24719101,  0.        ,  5.61797753, 56.17977528,  1.12359551,
        0.        ,  2.24719101, 11.23595506, 97.75280899,  1.12359551,
        1.12359551,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        , 14.60674157,  0.        ,  0.        ,  2.24719101,
        0.        ,  1.12359551,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  5.61797753,  0.        ,
        0.        ,  2.24719101, 93.25842697,  6.74157303,  0.        ,
        0.        ,  0.        , 14.60674157,  0.        , 85.39325843,
        0.        , 69.1011236 ,  0.        , 13.48314607,  1.12359551,
       88.76404494, 98.87640449, 74.15730337,  0.        , 95.50561798,
        0.        , 19.1011236 , 10.11235955,  0.        , 93.25842697,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        1.12359551,  2.24719101,  0.        ,  5.61797753, 56.17977528,
        1.12359551,  0.        ,  2.24719101, 11.23595506, 97.75280899,
        1.12359551,  1.12359551,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        , 14.60674157,  0.        ,  0.        ,
        2.24719101,  0.        ,  1.12359551,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        , 56.17977528,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  1.12359551,  0.        ,  0.        ,
        0.        , 19.1011236 , 64.04494382,  5.61797753,  0.        ,
       25.84269663,  0.        ,  0.        ,  0.        ,  0.        ,
        7.86516854,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        2.24719101,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        , 11.23595506,
       28.08988764,  3.37078652,  0.        , 11.23595506, 93.25842697,
       15.73033708,  0.        ,  0.        ,  0.        , 31.46067416,
        0.        , 31.46067416, 41.57303371, 95.50561798,  0.        ,
        2.24719101, 44.94382022, 93.25842697, 97.75280899,  0.        ,
        0.        , 50.56179775, 68.53932584,  0.        , 98.87640449,
        0.        ,  0.        , 25.84269663,  0.        ,  0.        ,
       13.48314607,  6.74157303,  0.        ,  8.98876404, 60.6741573 ,
        0.        ,  0.        , 35.95505618, 44.94382022, 87.64044944,
        0.        ,  0.        ,  0.        ,  5.61797753,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ])

# Check count of missing value in cells

In [17]:
dfh.isnull().sum().values

array([  4, 139,  26,   0,   8,  54,   0,   0, 122,   0, 148, 160,   8,
        66,  60, 148,   0, 174,   8, 124, 162,   0,  43,   0, 156,   0,
         0, 140,  34,   0, 154,  68,   0, 113, 174,   4,   0,   0, 116,
        32,   0,   0,  38,   0,   0,   0,   0,   0,   0,   0,   0,   0,
        74,   0,   0,  66,  28,  20,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0, 107,   8,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,  26,   0,   0,  74, 152,   0,   0,
         0,   0,   0,   0, 160,  60,   0,   0,   0,   0,   0,   2,  42,
         0,   0,   0,   4,   0,   0,   0,   0,   0,   8,  20,   0,   0,
        16,  30,   0,   0,   0,   2,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,  88, 172,
       146,   0, 174, 174,   4,   2,   0, 170,   0, 176,  50,  90, 176,
         0,  20, 174,   0,  52,   0, 117,   0, 156, 152,   0, 172, 160,
        30,  24, 176,  80,   0,   0,  36,  44,  10,   2, 140,   4,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   2,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
        10,   0,   0,   4, 166,  12,   0,   0,   0,  26,   0, 152,   0,
       123,   0,  24,   2, 158, 176, 132,   0, 170,   0,  34,  18,   0,
       166,   0,   0,   0,   0,   0,   2,   4,   0,  10, 100,   2,   0,
         4,  20, 174,   2,   2,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,  26,   0,   0,   4,   0,   2,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
        10,   0,   0,   4, 166,  12,   0,   0,   0,  26,   0, 152,   0,
       123,   0,  24,   2, 158, 176, 132,   0, 170,   0,  34,  18,   0,
       166,   0,   0,   0,   0,   0,   2,   4,   0,  10, 100,   2,   0,
         4,  20, 174,   2,   2,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,  26,   0,   0,   4,   0,   2,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0, 100,   0,   0,   0,   0,   0,   0,   0,   0,
         2,   0,   0,   0,  34, 114,  10,   0,  46,   0,   0,   0,   0,
        14,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   4,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,  20,
        50,   6,   0,  20, 166,  28,   0,   0,   0,  56,   0,  56,  74,
       170,   0,   4,  80, 166, 174,   0,   0,  90, 122,   0, 176,   0,
         0,  46,   0,   0,  24,  12,   0,  16, 108,   0,   0,  64,  80,
       156,   0,   0,   0,  10,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0], dtype=int64)

# Check shape after drop colomns which had all NULL

In [18]:
dfh.shape

(178, 608)

# Data types

In [19]:
dfh.dtypes.values

array([dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64')], dtype=object)

# Data discription

In [20]:
dfh.describe()

               1br flat                                          \
      Barwon South West
            Colac-Otway Corangamite     Glenelg Greater Geelong
count        174.000000   39.000000  152.000000      178.000000
mean          80.574713   76.871795   69.881579      161.443820
std           78.732096   96.376504   70.726405       44.116688
min            4.000000    0.000000    2.000000       80.000000
25%            8.250000    3.000000    7.000000      133.000000
50%           43.000000    7.000000   39.000000      159.500000
75%          150.000000  139.000000  131.250000      194.750000
max          253.000000  403.000000  350.000000      265.000000

                                                                          \
                                                               Grampians
      Southern Grampians  Surf Coast Warrnambool Group Total      Ararat
count         170.000000  124.000000  178.000000  178.000000   56.000000
mean           63.358824   92.153226   83.623596  188.252809   61.107143
std            58.867875   93.383295   72.071676   55.144782   66.533841
min             2.000000    5.000000   11.000000   80.000000    0.000000
25%             9.000000    7.000000   21.000000  154.750000    5.000000
50%            43.500000   52.000000   53.500000  200.000000    9.500000
75%           120.000000  171.250000  140.000000  224.000000  100.000000
max           200.000000  300.000000  270.000000  327.000000  200.000000

                   ...    All Properties                                 \
                   ...    Southern Metro
         Ballarat  ... Greater Dandenong    Kingston Mornington Penin'a
count  178.000000  ...        178.000000  178.000000         178.000000
mean   104.269663  ...        198.207865  262.073034         258.876404
std     41.867767  ...        151.609320  210.006646         151.504793
min     42.000000  ...         21.000000   23.000000          72.000000
25%     74.250000  ...         68.750000   69.250000         136.500000
50%     89.000000  ...        164.500000  187.000000         203.000000
75%    138.750000  ...        350.000000  469.000000         383.750000
max    210.000000  ...        493.000000  670.000000         673.000000

                                                                           \
                                              Table Total METRO NON-METRO
      Port Phillip  Stonnington  Group Total     Victoria           Metro
count   178.000000   178.000000   178.000000   178.000000      178.000000
mean    430.314607   422.539326   712.651685  2405.893258     1811.904494
std     439.493740   412.889489   487.638252  2557.922315     1856.592583
min       9.000000    19.000000   230.000000   210.000000      235.000000
25%      23.250000    36.250000   382.500000   362.500000      380.000000
50%     245.000000   251.000000   467.000000  1168.500000      888.000000
75%     900.000000   800.000000   983.250000  4060.750000     2976.500000
max    1250.000000  1200.000000  2013.000000  8702.000000     6545.000000



         Non-Metro     Victoria
count   178.000000   178.000000
mean    751.859551  2405.893258
std     581.480195  2557.922315
min     160.000000   210.000000
25%     320.000000   362.500000
50%     487.000000  1168.500000
75%    1073.000000  4060.750000
max    2229.000000  8702.000000

[8 rows x 608 columns]

# Check null value presentage through the row

In [21]:
dfh.isnull().sum(axis=1).values/544*100

array([13.97058824, 13.97058824, 15.44117647, 15.44117647, 15.07352941,
       15.07352941, 13.78676471, 13.78676471, 14.52205882, 14.52205882,
       14.70588235, 14.70588235, 15.625     , 15.625     , 13.23529412,
       13.23529412, 15.99264706, 15.99264706, 14.15441176, 14.15441176,
       16.72794118, 16.72794118, 14.15441176, 14.15441176, 14.52205882,
       14.52205882, 15.44117647, 15.44117647, 15.99264706, 15.99264706,
       13.97058824, 13.97058824, 14.33823529, 14.33823529, 16.54411765,
       16.54411765, 14.33823529, 14.33823529, 12.13235294, 12.13235294,
       16.36029412, 16.36029412, 15.25735294, 15.25735294, 14.15441176,
       14.15441176, 13.60294118, 13.60294118, 13.41911765, 13.41911765,
       13.05147059, 13.05147059, 13.60294118, 13.60294118, 12.31617647,
       12.31617647, 15.44117647, 15.44117647, 13.97058824, 13.97058824,
       15.25735294, 15.25735294, 11.76470588, 11.76470588, 12.86764706,
       12.86764706, 12.5       , 12.5       , 13.05147059, 13.05147059,
       11.58088235, 11.58088235, 13.23529412, 13.23529412, 11.94852941,
       11.94852941, 11.94852941, 11.94852941, 11.58088235, 11.58088235,
       11.02941176, 11.02941176, 12.68382353, 12.68382353, 11.39705882,
       11.39705882, 11.94852941, 11.94852941, 12.68382353, 12.68382353,
       10.29411765, 10.29411765, 10.84558824, 10.84558824, 11.21323529,
       11.21323529, 12.31617647, 12.31617647, 11.39705882, 11.39705882,
       11.21323529, 11.21323529, 10.66176471, 10.66176471, 11.21323529,
       11.21323529,  9.74264706,  9.74264706, 11.76470588, 11.76470588,
        9.74264706,  9.74264706, 11.58088235, 11.58088235, 10.29411765,
       10.29411765, 10.47794118, 10.47794118,  9.375     ,  9.375     ,
       12.13235294, 12.13235294, 10.84558824, 10.84558824, 12.31617647,
       12.31617647,  9.19117647,  9.19117647, 11.21323529, 11.21323529,
       10.66176471, 10.66176471, 11.02941176, 11.02941176, 11.39705882,
       11.39705882, 10.47794118, 10.47794118,  9.92647059,  9.92647059,
       12.86764706, 12.86764706, 11.02941176, 11.02941176, 11.58088235,
       11.58088235, 12.13235294, 12.13235294, 10.11029412, 10.11029412,
        9.00735294,  9.00735294, 10.84558824, 10.84558824, 11.76470588,
       11.76470588, 11.76470588, 11.94852941, 11.76470588, 11.94852941,
       11.76470588, 11.76470588, 11.76470588, 11.94852941, 11.76470588,
       11.76470588, 11.76470588, 12.31617647, 11.76470588, 11.76470588,
       11.76470588, 11.76470588, 11.76470588, 12.13235294, 11.76470588,
       11.94852941, 11.76470588, 12.13235294])

# Check No of notNUll value

In [22]:
dfh.notnull().sum().values

array([174,  39, 152, 178, 170, 124, 178, 178,  56, 178,  30,  18, 170,
       112, 118,  30, 178,   4, 170,  54,  16, 178, 135, 178,  22, 178,
       178,  38, 144, 178,  24, 110, 178,  65,   4, 174, 178, 178,  62,
       146, 178, 178, 140, 178, 178, 178, 178, 178, 178, 178, 178, 178,
       104, 178, 178, 112, 150, 158, 178, 178, 178, 178, 178, 178, 178,
       178, 178, 178, 178,  71, 170, 178, 178, 178, 178, 178, 178, 178,
       178, 178, 178, 178, 178, 178, 152, 178, 178, 104,  26, 178, 178,
       178, 178, 178, 178,  18, 118, 178, 178, 178, 178, 178, 176, 136,
       178, 178, 178, 174, 178, 178, 178, 178, 178, 170, 158, 178, 178,
       162, 148, 178, 178, 178, 176, 178, 178, 178, 178, 178, 178, 178,
       178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178,
       178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178,
       178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178,  90,   6,
        32, 178,   4,   4, 174, 176, 178,   8, 178,   2, 128,  88,   2,
       178, 158,   4, 178, 126, 178,  61, 178,  22,  26, 178,   6,  18,
       148, 154,   2,  98, 178, 178, 142, 134, 168, 176,  38, 174, 178,
       178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178,
       178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 176, 178,
       178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178,
       168, 178, 178, 174,  12, 166, 178, 178, 178, 152, 178,  26, 178,
        55, 178, 154, 176,  20,   2,  46, 178,   8, 178, 144, 160, 178,
        12, 178, 178, 178, 178, 178, 176, 174, 178, 168,  78, 176, 178,
       174, 158,   4, 176, 176, 178, 178, 178, 178, 178, 178, 178, 178,
       178, 178, 178, 178, 178, 178, 178, 152, 178, 178, 174, 178, 176,
       178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178,
       178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178,
       168, 178, 178, 174,  12, 166, 178, 178, 178, 152, 178,  26, 178,
        55, 178, 154, 176,  20,   2,  46, 178,   8, 178, 144, 160, 178,
        12, 178, 178, 178, 178, 178, 176, 174, 178, 168,  78, 176, 178,
       174, 158,   4, 176, 176, 178, 178, 178, 178, 178, 178, 178, 178,
       178, 178, 178, 178, 178, 178, 178, 152, 178, 178, 174, 178, 176,
       178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178,
       178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178,
       178, 178, 178, 178,  78, 178, 178, 178, 178, 178, 178, 178, 178,
       176, 178, 178, 178, 144,  64, 168, 178, 132, 178, 178, 178, 178,
       164, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178,
       178, 178, 174, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178,
       178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178,
       178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178,
       178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 158,
       128, 172, 178, 158,  12, 150, 178, 178, 178, 122, 178, 122, 104,
         8, 178, 174,  98,  12,   4, 178, 178,  88,  56, 178,   2, 178,
       178, 132, 178, 178, 154, 166, 178, 162,  70, 178, 178, 114,  98,
        22, 178, 178, 178, 168, 178, 178, 178, 178, 178, 178, 178, 178,
       178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178,
       178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178,
       178, 178, 178, 178, 178, 178, 178, 178, 178, 178], dtype=int64)

# Drop if number of notNULL is less than 90

In [24]:
df=df.dropna(thresh=90)
dfh=df.transpose()
dfh.notnull().sum().values

array([174, 152, 178, 170, 124, 178, 178, 178, 170, 112, 118, 178, 170,
       178, 135, 178, 178, 178, 144, 178, 110, 178, 174, 178, 178, 146,
       178, 178, 140, 178, 178, 178, 178, 178, 178, 178, 178, 178, 104,
       178, 178, 112, 150, 158, 178, 178, 178, 178, 178, 178, 178, 178,
       178, 178, 178, 170, 178, 178, 178, 178, 178, 178, 178, 178, 178,
       178, 178, 178, 178, 152, 178, 178, 104, 178, 178, 178, 178, 178,
       178, 118, 178, 178, 178, 178, 178, 176, 136, 178, 178, 178, 174,
       178, 178, 178, 178, 178, 170, 158, 178, 178, 162, 148, 178, 178,
       178, 176, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178,
       178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178,
       178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178,
       178, 178, 178, 178, 178, 178, 178,  90, 178, 174, 176, 178, 178,
       128, 178, 158, 178, 126, 178, 178, 178, 148, 154,  98, 178, 178,
       142, 134, 168, 176, 174, 178, 178, 178, 178, 178, 178, 178, 178,
       178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178,
       178, 178, 178, 178, 176, 178, 178, 178, 178, 178, 178, 178, 178,
       178, 178, 178, 178, 178, 178, 168, 178, 178, 174, 166, 178, 178,
       178, 152, 178, 178, 178, 154, 176, 178, 178, 144, 160, 178, 178,
       178, 178, 178, 178, 176, 174, 178, 168, 176, 178, 174, 158, 176,
       176, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178,
       178, 178, 178, 152, 178, 178, 174, 178, 176, 178, 178, 178, 178,
       178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178,
       178, 178, 178, 178, 178, 178, 178, 178, 178, 168, 178, 178, 174,
       166, 178, 178, 178, 152, 178, 178, 178, 154, 176, 178, 178, 144,
       160, 178, 178, 178, 178, 178, 178, 176, 174, 178, 168, 176, 178,
       174, 158, 176, 176, 178, 178, 178, 178, 178, 178, 178, 178, 178,
       178, 178, 178, 178, 178, 178, 152, 178, 178, 174, 178, 176, 178,
       178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178,
       178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178,
       178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 176, 178,
       178, 178, 144, 168, 178, 132, 178, 178, 178, 178, 164, 178, 178,
       178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 174,
       178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178,
       178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178,
       178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178,
       178, 178, 178, 178, 178, 178, 178, 178, 178, 158, 128, 172, 178,
       158, 150, 178, 178, 178, 122, 178, 122, 104, 178, 174,  98, 178,
       178, 178, 178, 178, 132, 178, 178, 154, 166, 178, 162, 178, 178,
       114,  98, 178, 178, 178, 168, 178, 178, 178, 178, 178, 178, 178,
       178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178,
       178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178,
       178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178], dtype=int64)

In [25]:
df.duplicated().sum()

87

In [26]:
dfh.duplicated().sum()

0

# drop duplicates

In [35]:
df.drop_duplicates(inplace=True)
df.duplicated().sum()
dfh=df.transpose()

# check after drop duplicates

In [36]:
df.duplicated().sum()

0

In [37]:
dfp1=df7.replace('-', np.NaN)
dfp2=dfp1.replace('.', np.NaN)

In [38]:
dfp2.isnull().all().sum()

0

In [39]:
dfp2.notnull().sum(axis=1).values

array([178, 178, 178, 178, 178, 168, 178, 178, 178, 178, 178, 178, 178,
       178, 178, 178, 178, 178, 178, 138, 178, 178, 172, 178, 178, 178,
       178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178,
       178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178,
       178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178,
       178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178,
       178, 178, 178, 178, 178, 178, 178, 178, 178, 178,   0, 178, 178,
       178], dtype=int64)

In [40]:
dfp3=dfp2.dropna(thresh=90)
dfp3.notnull().sum(axis=1).values

array([178, 178, 178, 178, 178, 168, 178, 178, 178, 178, 178, 178, 178,
       178, 178, 178, 178, 178, 178, 138, 178, 178, 172, 178, 178, 178,
       178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178,
       178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178,
       178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178,
       178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178,
       178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178, 178],
      dtype=int64)

In [41]:
dfp3.duplicated().sum()

1

In [42]:
dfp4=dfp3.drop_duplicates()

In [43]:
dfp4.tail(10)

                                   Jun 1999        Sep 1999        Dec 1999  \
LGA                                   Count Median    Count Median    Count
Southern Metro  Glen Eira            1151.0  180.0   1260.0  179.0   1216.0
                Greater Dandenong     911.0  138.0    958.0  135.0   1007.0
                Kingston              893.0  165.0    968.0  165.0    897.0
                Mornington Penin'a    802.0  140.0    806.0  145.0    744.0
                Port Phillip         1808.0  205.0   2057.0  210.0   1961.0
                Stonnington          1314.0  200.0   1369.0  210.0   1341.0
                Group Total          8959.0  169.0   9703.0  170.0   9349.0
Table Total     Victoria            31033.0  160.0  32385.0  160.0  32254.0
METRO NON-METRO Metro               22849.0  170.0  24284.0  175.0  24027.0
                Non-Metro            8184.0  125.0   8101.0  130.0   8227.0

                                          Mar 2000        Jun 2000         \
LGA                                Median    Count Median    Count Median
Southern Metro  Glen Eira           180.0   1415.0  185.0   1198.0  190.0
                Greater Dandenong   140.0   1004.0  140.0    899.0  140.0
                Kingston            175.0    939.0  170.0    870.0  170.0
                Mornington Penin'a  150.0    805.0  150.0    798.0  150.0
                Port Phillip        220.0   2235.0  220.0   1857.0  220.0
                Stonnington         210.0   1825.0  220.0   1341.0  230.0
                Group Total         175.0  10528.0  175.0   9203.0  175.0
Table Total     Victoria            165.0  38248.0  170.0  31387.0  170.0
METRO NON-METRO Metro               180.0  28442.0  180.0  23581.0  180.0
                Non-Metro           130.0   9806.0  130.0   7806.0  130.0

                                    ... Jun 2020        Sep 2020         \
LGA                                 ...    Count Median    Count Median
Southern Metro  Glen Eira           ...   1546.0  450.0   1687.0  430.0
                Greater Dandenong   ...   1024.0  360.0    838.0  360.0
                Kingston            ...    985.0  425.0    959.0  430.0
                Mornington Penin'a  ...    898.0  400.0    755.0  430.0
                Port Phillip        ...   1899.0  450.0   1865.0  440.0
                Stonnington         ...   1841.0  450.0   1987.0  440.0
                Group Total         ...  12025.0  400.0  11508.0  410.0
Table Total     Victoria            ...  47088.0  390.0  48411.0  390.0
METRO NON-METRO Metro               ...  37673.0  400.0  38604.0  400.0
                Non-Metro           ...   9415.0  330.0   9807.0  340.0

                                   Dec 2020        Mar 2021        Jun 2021  \
LGA                                   Count Median    Count Median    Count
Southern Metro  Glen Eira            1904.0  420.0   2555.0  415.0   2095.0
                Greater Dandenong    1135.0  355.0   1238.0  365.0   1050.0
                Kingston             1082.0  425.0   1288.0  420.0   1051.0
                Mornington Penin'a    655.0  450.0    662.0  460.0    666.0
                Port Phillip         2257.0  430.0   2466.0  410.0   2037.0
                Stonnington          2413.0  420.0   3300.0  400.0   2446.0
                Group Total         13344.0  400.0  15441.0  400.0  12810.0
Table Total     Victoria            55017.0  390.0  65229.0  390.0  53258.0
METRO NON-METRO Metro               46084.0  400.0  56088.0  395.0  45130.0
                Non-Metro            8933.0  350.0   9141.0  350.0   8128.0


LGA                                Median
Southern Metro  Glen Eira           400.0
                Greater Dandenong   350.0
                Kingston            425.0
                Mornington Penin'a  473.0
                Port Phillip        400.0
                Stonnington         395.0
                Group Total         400.0
Table Total     Victoria            385.0
METRO NON-METRO Metro               390.0
                Non-Metro           360.0

[10 rows x 178 columns]

In [44]:
dfp4.shape

(90, 178)

In [45]:
dfp4.columns

MultiIndex([('Jun 1999',  'Count'),
            ('Jun 1999', 'Median'),
            ('Sep 1999',  'Count'),
            ('Sep 1999', 'Median'),
            ('Dec 1999',  'Count'),
            ('Dec 1999', 'Median'),
            ('Mar 2000',  'Count'),
            ('Mar 2000', 'Median'),
            ('Jun 2000',  'Count'),
            ('Jun 2000', 'Median'),
            ...
            ('Jun 2020',  'Count'),
            ('Jun 2020', 'Median'),
            ('Sep 2020',  'Count'),
            ('Sep 2020', 'Median'),
            ('Dec 2020',  'Count'),
            ('Dec 2020', 'Median'),
            ('Mar 2021',  'Count'),
            ('Mar 2021', 'Median'),
            ('Jun 2021',  'Count'),
            ('Jun 2021', 'Median')],
           names=[None, 'LGA'], length=178)

In [46]:
dfpm1=dfp4.filter(like='Median').transpose()
dfpm=dfpm1.filter(like='Group')
dfpm

,,Barwon South West,Grampians,Loddon Mallee,Hume,Gippsland,North and West Metro,Eastern Metro,Southern Metro
,,Group Total,Group Total,Group Total,Group Total,Group Total,Group Total,Group Total,Group Total
,LGA,,,,,,,,
Jun 1999,Median,130.0,125.0,130.0,130.0,115.0,170.0,185.0,169.0
Sep 1999,Median,130.0,125.0,135.0,130.0,110.0,170.0,185.0,170.0
Dec 1999,Median,135.0,130.0,130.0,135.0,115.0,175.0,190.0,175.0
Mar 2000,Median,135.0,130.0,135.0,135.0,115.0,180.0,195.0,175.0
Jun 2000,Median,140.0,130.0,140.0,135.0,115.0,180.0,195.0,175.0
...,...,...,...,...,...,...,...,...,...
Jun 2020,Median,365.0,320.0,320.0,320.0,300.0,400.0,430.0,400.0
Sep 2020,Median,375.0,320.0,330.0,320.0,310.0,399.0,430.0,410.0
Dec 2020,Median,380.0,340.0,340.0,330.0,320.0,390.0,420.0,400.0
Mar 2021,Median,390.0,340.0,345.0,350.0,330.0,380.0,420.0,400.0
Jun 2021,Median,400.0,350.0,350.0,350.0,350.0,375.0,420.0,400.0

In [47]:
dfpm.describe()

,Barwon South West,Grampians,Loddon Mallee,Hume,Gippsland,North and West Metro,Eastern Metro,Southern Metro
,Group Total,Group Total,Group Total,Group Total,Group Total,Group Total,Group Total,Group Total
count,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000
mean,250.269663,221.292135,224.741573,220.932584,208.000000,302.471910,322.943820,302.629213
std,76.865402,62.291872,60.826043,60.870727,63.647467,80.720631,85.454049,82.819956
min,130.000000,125.000000,130.000000,130.000000,110.000000,170.000000,185.000000,169.000000
25%,180.000000,165.000000,175.000000,170.000000,150.000000,220.000000,230.000000,220.000000
50%,260.000000,220.000000,220.000000,220.000000,220.000000,330.000000,350.000000,330.000000
75%,300.000000,265.000000,270.000000,265.000000,260.000000,370.000000,400.000000,380.000000
max,400.000000,350.000000,350.000000,350.000000,350.000000,420.000000,445.000000,420.000000

In [48]:
dfpc1=dfp4.filter(like='Count')
dfpc=dfpc1.transpose().filter(like='Group')
dfpc

,,Barwon South West,Grampians,Loddon Mallee,Hume,Gippsland,North and West Metro,Eastern Metro,Southern Metro
,,Group Total,Group Total,Group Total,Group Total,Group Total,Group Total,Group Total,Group Total
,LGA,,,,,,,,
Jun 1999,Count,2204.0,1160.0,1676.0,1679.0,1461.0,8845.0,5049.0,8959.0
Sep 1999,Count,2138.0,1199.0,1602.0,1674.0,1484.0,9494.0,5091.0,9703.0
Dec 1999,Count,2259.0,1190.0,1699.0,1665.0,1412.0,9467.0,5213.0,9349.0
Mar 2000,Count,2499.0,1681.0,2028.0,1928.0,1666.0,11815.0,6103.0,10528.0
Jun 2000,Count,2139.0,1098.0,1630.0,1570.0,1366.0,9446.0,4935.0,9203.0
...,...,...,...,...,...,...,...,...,...
Jun 2020,Count,2731.0,1703.0,1675.0,1711.0,1590.0,19664.0,5989.0,12025.0
Sep 2020,Count,3115.0,1728.0,1679.0,1728.0,1552.0,21100.0,6001.0,11508.0
Dec 2020,Count,2792.0,1533.0,1657.0,1609.0,1337.0,25795.0,6950.0,13344.0
Mar 2021,Count,2757.0,1638.0,1751.0,1554.0,1435.0,31835.0,8818.0,15441.0
Jun 2021,Count,2398.0,1483.0,1474.0,1449.0,1318.0,25083.0,7243.0,12810.0